@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.navigation{
    background-color: lightgray;
}
.navigation h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 75px;
    font-weight: 100;
    text-align: center;
}
